<a href="https://colab.research.google.com/github/debasishcharanbehera1998/Assignments/blob/ML-Models/Census_income_Classification_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Analysis of Different people working class, we need to calculate if a particualr given person having characteristics willbe earn greater than 50 K or less than.

In [ ]:
import os

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
os.chdir(r"/content/drive/MyDrive/Colab Notebooks/Input Files")

In [ ]:
df = pd.read_csv(r"/content/drive/MyDrive/Colab Notebooks/Input Files/census-income .csv")

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df.shape

(32561, 15)

In [ ]:
# Basic Info of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  annual_income   32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

Pre Processing

In [ ]:
# Exploratory Data ANalysis

In [ ]:
# Null FInding across Attributes
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
annual_income     0
dtype: int64

In [ ]:
# NA Chack
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
annual_income     0
dtype: int64

In [ ]:
# Duplicate Keeping
df.duplicated().sum()

24

In [ ]:
# Removing Duplicates
df.drop_duplicates(inplace = True)

# Quality Checking
df.duplicated().sum()

0

In [ ]:
df.shape

(32537, 15)

In [ ]:
# Checking unique values in work class column
df["workclass"].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [ ]:
# Checking unique values in education column
df["education"].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [ ]:
# Since we see an anomaly that is "?". Lets replace same with NAN
df = df.replace('?', np.nan)

In [ ]:
df.isna().sum().sum()

4261

In [ ]:
df.dropna(inplace = True)

In [ ]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
annual_income     0
dtype: int64

In [ ]:
df.shape

(30139, 15)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30139 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30139 non-null  int64
 1   workclass       30139 non-null  object
 2   fnlwgt          30139 non-null  int64
 3   education       30139 non-null  object
 4   education-num   30139 non-null  int64
 5   marital-status  30139 non-null  object
 6   occupation      30139 non-null  object
 7   relationship    30139 non-null  object
 8   race            30139 non-null  object
 9   sex             30139 non-null  object
 10  capital-gain    30139 non-null  int64
 11  capital-loss    30139 non-null  int64
 12  hours-per-week  30139 non-null  int64
 13  native-country  30139 non-null  object
 14  annual_income   30139 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
# Checking unique values in marital-status column
df["marital-status"].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [ ]:
# Checking unique values in occupation column
df["occupation"].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Transport-moving',
       'Farming-fishing', 'Machine-op-inspct', 'Tech-support',
       'Craft-repair', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [ ]:
# Checking unique values in relationship column
df["relationship"].unique()

array(['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried',
       'Other-relative'], dtype=object)

In [ ]:
# Checking unique values in race column
df["race"].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [ ]:
# Checking unique values in sex column
df["sex"].unique()

array(['Male', 'Female'], dtype=object)

In [ ]:
# Checking unique values in native-country column
df["native-country"].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', 'Mexico',
       'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany', 'Iran',
       'Philippines', 'Poland', 'Columbia', 'Cambodia', 'Thailand',
       'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'Italy', 'China', 'South', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [ ]:
# Checking unique values in annual_income column
df["annual_income"].unique()

array(['<=50K', '>50K'], dtype=object)

In [ ]:
# From here No Data consists any anomaly values

In [ ]:
# Lets Say, dataset size is very less.
# We are getting Null. Then we need to replace values by mode if the dataset.

In [ ]:
# Example 300 overall rows from which we will get 50 rows as null
# Here we will use imputers.
# Replace with mean / Median / Mode

# Example:
# Column is Numeric : Mean (Normally distributed), Median (For skewed - right or left)
# Column is Object  : Mode

# Skewed Data
# Shift of central Tendencies (normalization)

Statistical Analysis

In [ ]:
df.describe() # For Numerical Column Statistical Analysis

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,30139.000000,3.013900e+04,30139.000000,30139.000000,30139.000000,30139.000000
mean,38.441720,1.897950e+05,10.122532,1092.841202,88.439928,40.934703
std,13.131426,1.056586e+05,2.548738,7409.110596,404.445239,11.978753
min,17.000000,1.376900e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.176275e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.784170e+05,10.000000,0.000000,0.000000,40.000000
75%,47.000000,2.376045e+05,13.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
# Statistical Analysis of object data type column

In [ ]:
df.describe(include = "O").T

                count unique                 top   freq
workclass       30139      7             Private  22264
education       30139     16             HS-grad   9834
marital-status  30139      7  Married-civ-spouse  14059
occupation      30139     14      Prof-specialty   4034
relationship    30139      6             Husband  12457
race            30139      5               White  25912
sex             30139      2                Male  20366
native-country  30139     41       United-States  27487
annual_income   30139      2               <=50K  22633

In [ ]:
# Since there is a class imbalance, data may be biassed. Exaple for Gwnder column.
# We will do Over sample or under sample based on this.
# Means for Male, we will remove some of male candidates from dataset (Under sample)
# or We will  oversample female candidates in dataset by addding random values (Over Sample)

Encoding of categprical colun

In [ ]:
# Label Encoding as features are having classification values
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in df.columns:
  if df[col].dtype == "object":
    df[col] = le.fit_transform(df[col])

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,2,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,2,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,2,338409,9,13,2,9,5,2,0,0,0,40,4,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30139 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30139 non-null  int64
 1   workclass       30139 non-null  int64
 2   fnlwgt          30139 non-null  int64
 3   education       30139 non-null  int64
 4   education-num   30139 non-null  int64
 5   marital-status  30139 non-null  int64
 6   occupation      30139 non-null  int64
 7   relationship    30139 non-null  int64
 8   race            30139 non-null  int64
 9   sex             30139 non-null  int64
 10  capital-gain    30139 non-null  int64
 11  capital-loss    30139 non-null  int64
 12  hours-per-week  30139 non-null  int64
 13  native-country  30139 non-null  int64
 14  annual_income   30139 non-null  int64
dtypes: int64(15)
memory usage: 3.7 MB

In [ ]:
# How to decode back to know what belongs to what post encoding

# o_l = le.classes
# for label.value in enumerate(o_l):
#   print(label, value)

Separate Independent and dependent Features

In [ ]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [ ]:
x.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38
2,38,2,215646,11,9,0,5,1,4,1,0,0,40,38
3,53,2,234721,1,7,2,5,0,2,1,0,0,40,38
4,28,2,338409,9,13,2,9,5,2,0,0,0,40,4

In [ ]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: annual_income, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,  x_test, y_train, y_test =train_test_split(x,y, test_size = 0.3, random_state = 0)

In [ ]:
x_train.shape,  x_test.shape, y_train.shape, y_test.shape

((21097, 14), (9042, 14), (21097,), (9042,))

Standardize the data

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train_sc = sc.fit_transform(x_train)
x_test_sc = sc.fit_transform(x_test)

Model Building

In [ ]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(x_train_sc, y_train)
y_pred = LR.predict(x_test_sc)
from sklearn.metrics import *
print(f"Accuracy  score is {accuracy_score(y_test,y_pred ) * 100}")
print(f" confusion matrix is {confusion_matrix(y_test,y_pred)}")
print(f" {classification_report(y_test,y_pred)}")

Accuracy  score is 81.76288431762885
 confusion matrix is [[6342  450]
 [1199 1051]]
               precision    recall  f1-score   support

           0       0.84      0.93      0.88      6792
           1       0.70      0.47      0.56      2250

    accuracy                           0.82      9042
   macro avg       0.77      0.70      0.72      9042
weighted avg       0.81      0.82      0.80      9042

In [ ]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier()
RF.fit(x_train_sc, y_train)
y_pred = RF.predict(x_test_sc)
from sklearn.metrics import *
print(f"Accuracy  score is {accuracy_score(y_test,y_pred ) * 100}")
print(f" confusion matrix is {confusion_matrix(y_test,y_pred)}")
print(f" {classification_report(y_test,y_pred)}")

Accuracy  score is 84.88166334881664
 confusion matrix is [[6268  524]
 [ 843 1407]]
               precision    recall  f1-score   support

           0       0.88      0.92      0.90      6792
           1       0.73      0.63      0.67      2250

    accuracy                           0.85      9042
   macro avg       0.81      0.77      0.79      9042
weighted avg       0.84      0.85      0.84      9042

In [ ]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier()
DT.fit(x_train_sc, y_train)
y_pred = DT.predict(x_test_sc)
from sklearn.metrics import *
print(f"Accuracy  score is {accuracy_score(y_test,y_pred ) * 100}")
print(f" confusion matrix is {confusion_matrix(y_test,y_pred)}")
print(f" {classification_report(y_test,y_pred)}")

Accuracy  score is 80.02654280026543
 confusion matrix is [[5827  965]
 [ 841 1409]]
               precision    recall  f1-score   support

           0       0.87      0.86      0.87      6792
           1       0.59      0.63      0.61      2250

    accuracy                           0.80      9042
   macro avg       0.73      0.74      0.74      9042
weighted avg       0.80      0.80      0.80      9042

Conclusion: out of 4 models, we have got beter accuracy in Random FOrest.